# Sanity CMS
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-06-01

# Studio Configuration (used locally when running studio in separate folder)
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production

# Private Tokens
SANITY_VIEWER_TOKEN=
