PUBLIC_SANITY_PROJECT_ID=jg4gi6mn
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-06-19
PUBLIC_SITE_URL=https://theeduassist.com

# Optional placeholders only
SANITY_API_WRITE_TOKEN=
WORDPRESS_BASE_URL=

SANITY_PROJECT_ID=jg4gi6mn
SANITY_DATASET=production

SANITY_VIEWER_TOKEN=

PUBLIC_FIREBASE_PROJECT_ID=theeduassist-website-prod
PUBLIC_FIREBASE_AUTH_DOMAIN=theeduassist.com
PUBLIC_FIREBASE_STORAGE_BUCKET=theeduassist-website-prod.appspot.com
PUBLIC_FIREBASE_API_KEY=
PUBLIC_FIREBASE_APP_ID=
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_MEASUREMENT_ID=

PUBLIC_DEMO_SITE_URL=https://theeduassist.com
