---
import Layout from "../../layouts/Layout.astro";
import CaseStudiesHero from "../../components/case-studies/CaseStudiesHero.astro";
import TrustPositioningSection from "../../components/case-studies/TrustPositioningSection.astro";
import CaseStudyCategories from "../../components/case-studies/CaseStudyCategories.astro";
import FeaturedCaseStudy from "../../components/case-studies/FeaturedCaseStudy.astro";
import PortfolioGrid from "../../components/case-studies/PortfolioGrid.astro";
import CaseStudyAnatomy from "../../components/case-studies/CaseStudyAnatomy.astro";
import BeforeAfterFramework from "../../components/case-studies/BeforeAfterFramework.astro";
import ServicesBehindWork from "../../components/case-studies/ServicesBehindWork.astro";
import CaseStudiesFAQ from "../../components/case-studies/CaseStudiesFAQ.astro";
import RealCaseStudyReadiness from "../../components/case-studies/RealCaseStudyReadiness.astro";
import CaseStudiesFinalCTA from "../../components/case-studies/CaseStudiesFinalCTA.astro";
---
<Layout
  title="Case Studies & Portfolio | TheEduAssist E-Learning Design Agency"
  description="Explore TheEduAssist case studies, sample builds, and portfolio concepts for online courses, Kajabi websites, LMS migrations, content conversion, AI-powered e-learning support, funnels, automation, and launch-ready learning systems."
>
  <CaseStudiesHero />
  <TrustPositioningSection />
  <CaseStudyCategories />

  <div id="course-creation"></div>
  <div id="kajabi-builds"></div>
  <div id="lms-migration"></div>
  <div id="content-conversion"></div>
  <div id="ai-elearning"></div>
  <div id="funnels"></div>
  <div id="support"></div>
  <div id="all"></div>

  <FeaturedCaseStudy />
  <PortfolioGrid />
  <CaseStudyAnatomy />
  <BeforeAfterFramework />
  <ServicesBehindWork />
  <RealCaseStudyReadiness />
  <CaseStudiesFAQ />
  <CaseStudiesFinalCTA />
</Layout>
